body{
    width : 100%;
    max-width : 1200px;
    margin : auto;
    font : normal small-caps 400 12px/30px Lucida Sans Unicode, monospace;
}

.structural{
    margin : 10px;
    padding : 10px;
}

h1{
    color : rgb(144, 16, 135);
    font-size: 30px;
}

h2{
    color : rgba(133, 12, 125, 0.763);
    font-size : 20px;
}

main{
    height : 70vh;
}

img{
    border : 5px solid purple;
    width: 90%;
    height: 80%;
}

figure {
    background-color : rgb(243, 200, 220);
    width : 45%;
    height : 60%;
    margin : auto;
    padding : 10px;
}

#coolkitten {
    float : left;
}

#coolcats {
    float : right;
}

section {
    clear : both;
}

figcaption {
    font-weight : bold;
    font-size: 16px;
    color:rgb(206, 76, 206);
    padding: 5px;
}

a {
    color:rgb(206, 76, 206);
}
a:hover{
    color:rgba(133, 12, 125, 0.763);
}

li {
    list-style-type: square;
    line-height: 36px;
}

header, footer {
    background-color: rgba(227, 180, 239, 0.756);
}